{% extends "base.html.twig" %}



{% block body %}
    <div class="container">
        <h1>Editer le logement</h1>
        {{ include ('Admin/Property/_form.html.twig', { button: 'Editer'}) }}
    </div>


{% endblock %}
