{% extends "base.html.twig" %}



{% block body %}
    <div class="container">
        <h1>Creation</h1>
        {{ include ('Admin/Property/_form.html.twig', {button: 'Creer'}) }}
    </div>


{% endblock %}
