{% extends "base.html.twig" %}

{% block title 'Tous nos bien' %}

{% block body %}
    <div class="container">
        <h1>Voir tous nos bien</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis a delectus assumenda voluptatem cupiditate aperiam tempora quo, quibusdam saepe, illum nostrum magnam modi mollitia esse dignissimos omnis sapiente porro maxime.</p>
    </div>

{% endblock %}
